<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PhotoViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PhotoViewer.Properties.Settings>
            <setting name="MainTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWidth" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MainHeight" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="HorSplitterPos" serializeAs="String">
                <value>"50"</value>
            </setting>
            <setting name="VertSplitterPos" serializeAs="String">
                <value>"50"</value>
            </setting>
            <setting name="ExtensionFilter" serializeAs="String">
                <value>".jpg"</value>
            </setting>
        </PhotoViewer.Properties.Settings>
    </userSettings>
</configuration>